/* PALETA DE CORES
#404656
#4b5262
#bac3d2
*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 0px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #404656;
}

.header svg {
    width: 50px;
}

.titulo-header {
    color: white;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 100px;
    background-color: #4b5262;
}

#form-contato {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.input {
    width: 155px;
    height: 45px;
    padding-left: 15px;
    border: none;
    border-radius: 0.5rem;
    background-color: #f8fafc;
    color: #404656;
}

.input#email {
    width: 250px;

}

.inserir {
    width: 60px;
    height: 45px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #49af5b;
    color: white;
    text-align: center;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    
    gap: 0.75rem;
}

.tabela {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404656;
}

th, tbody {
    padding: 15px 0px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

td {
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

thead {
    background-color: #f1f1f1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.botoes-acao {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-editar, .btn-apagar {
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 10px 10px;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0px;
    color: white;
}

.btn-editar {
    background-color: #e6ca18;
}

.btn-apagar {
    background-color: #ee4b2b;
}