* {
    margin: auto;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botao-modal {
    width: 10%;
    height: 5%;
    background-color: rgb(10, 209, 10);
    border-radius: 50px;
}

.janela-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.164);
}

.janela-modal.abrir {
    display: flex;
}

.modal-conteudo {
    width: 50%;
    height: 30%;
    background-color: rgba(235, 240, 233, 0.404);
    border-radius: 50px 0px 50px 50px;
    backdrop-filter: blur(10px);
    padding: 5%;
    display: flex;
    justify-content: center;
}

.fechar {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(180, 12, 12);
    color: white;
    border: 0px;
    cursor: pointer;
}

.input {
    width: 30%;
    height: 45px;
    line-height: 30px;
    padding-left: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
}

table, thead, tbody {
    border: 1px solid black;
}

table {
border-collapse: collapse;
margin: auto;
}