* {
    margin: auto;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin-top: 0px;
    width: 100%;
    height: 10%;
    display: flex;
}

.fechar {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(180, 12, 12);
    color: white;
    border: 0px;
    cursor: pointer;
}

.input {
    width: 30%;
    height: 45px;
    line-height: 30px;
    padding-left: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    border-color: #9b9b9b;
    color: #0d0c22;
}

.tabela {
    width: 80%;
    height: 100vh;
}

th, tbody {
    padding: 15px 150px;
    text-align: center;
}

thead {
    background-color: #f1f1f1;
    
}

table {
    border-collapse: collapse;
    margin: auto;
}

.botoes-acao {
    display: flex;
}

.btn-editar, .btn-apagar {
    display: flex; 
    align-items: center; 
    padding: 5px 10px;
    cursor: pointer;
    border: 0px;
}